
$DarkModeElements : hsl(209, 23%, 22%);
$DarkModeElementsHover : hsl(209, 23%, 18% );
$DarkModeBackground: hsl(207, 26%, 17%);
$LightModeText: hsl(200, 15%, 8%);
$LightModeInput: hsl(0, 0%, 52%);
$LightModeBackground: hsl(0, 0%, 98%);
$LightModeElements: hsl(0, 0%, 100%); /* and dark mode text */
$LightModeElementsHover: hsla(0, 0%, 80%);

$box-shadow : 0px 0px 5px 2px rgb(0 0 0 / 10%);